doctype html
html(lang="en")
    include pug/_head.pug
    body 
        #app
            include pug/_navigation.pug
            include pug/_nav_inicio.pug
            include pug/_nav_servicios.pug
            include pug/_nav_proceso.pug
            include pug/_nav_oferta.pug
            include pug/_nav_ventajas.pug
            include pug/_nav_contacto.pug
        
        
        include pug/_scripts.pug
            

        