doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        title Ceul | Centro de Enlace Universitario Latam
        meta(name="description" content="Somos un centro de gestión de servicios educativos y contamos con vínculos con grandes instituciones educativas con incorporación y RVOE ante la SEP, nuestra labor radica en la gestión para la obtención garantizada de tu TÍTULO y CÉDULA profesional a nivel licenciatura, maestría y doctorado con real flexibilidad y tiempo récord.")
        link(href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet")

    body 

        script(src="https://unpkg.com/vue/dist/vue.js")
        script(src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js")
        script(src="app/app-min.js")
