head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Ceul | Centro de Enlace Universitario Latam
    link(rel="icon" type="image/png" href="favicon.png")
    meta(name="description" content="Somos un centro de gestión de servicios educativos y contamos con vínculos con grandes instituciones educativas con incorporación y RVOE ante la SEP, nuestra labor radica en la gestión para la obtención garantizada de tu TÍTULO y CÉDULA profesional a nivel licenciatura, maestría y doctorado con real flexibilidad y tiempo récord.")
    link(rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css")
    link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;700&display=swap" rel="stylesheet")
    
    link(rel="stylesheet", href="app/app.css")