section.section#contacto
    .has-text-centered.is-size-2.py-5.mb-5 Contacto
    .py-6: .columns.has-text-centered
        .column.is-4
            .is-size-3 Atención
            .is-size-5
                a(href="tel:5543903812") 55 4390 3812
                br
                a(href="tel:5524899790") 55 2489 9790
        .column.is-4
            .is-size-3 Dirección
            .is-size-5 Circuito Esperanza Sur No. 225 #[br] Col. Valle del Palmar #[br] Pachica de Soto, Hidalgo.
        .column.is-4
            .is-size-3 Informes
            .is-size-5: a(href="mailto:info@ceul.mx") info@ceul.mx
    .py-6
        .columns.has-text-centered
            .column.is-8.is-offset-2
                .title Acércate a nuestros promotores y solicita información.
        .columns.has-text-centered
            .column.is-6.is-offset-3
                .card.my-5: .card-content No importa la universidad de procedencia.
                .card.my-5: .card-content No importa la cantidad de semestres que hayas cursado.
                .card.my-5: .card-content Incluso si solo cursaste tu bachillerato, podemos apoyarte.
        .columns.has-text-centered
            .column.is-10.is-offset-1
                p En CEUL, siempre tendremos una alternativa para ti, acércate y platica tu caso a uno de nuestros asesores expertos, quienes con gusto te orientarán en tu proceso para la obtención de tu Título y Cédula profesional.