b-navbar(fixed-top centered shadow)
    template(#brand)
        b-navbar-item(href="#intro"): img(src="app/imgs/ceul_simple.svg" alt="Ceul")
    template(#start)
        b-navbar-item(href="#servicios") Servicios
        b-navbar-item(href="#proceso") Proceso
        b-navbar-item(href="#oferta") Oferta educativa vinculada
        b-navbar-item(href="#ventajas") Ventajas
        b-navbar-item(href="#contacto") Contacto
    template(#end)
        b-navbar-item(href="https://ceul.neolms.com" target="_blank") Acceso a Estudiantes
        b-navbar-item(href="https://wa.me/5565153214" target="_blank"): b-icon(icon="whatsapp" type="is-success")