section.section#ventajas
    .has-text-centered.is-size-2.py-5.mb-5 Nuestras ventajas
    .section: .container
        .columns
            .column.is-8.is-size-2.is-offset-2.has-text-centered
                div(data-aos="zoom-out-down" data-aos-duration="1500", data-aos-delay="500").ventaja
                    | #[strong Garantizamos] la obtención de tu Título y Cédula Profesional.


                div(data-aos="zoom-out-down" data-aos-duration="1500", data-aos-delay="600").ventaja
                    | #[strong Nuestros programas de estudio] son realmente flexibles y se adaptan a tu ritmo.


                div(data-aos="zoom-out-down" data-aos-duration="1500", data-aos-delay="700").ventaja
                    | #[strong En tiempo récord] se obtienen tu Título y Cédula Profesional, ya sea iniciando o culminando tus estudios inconclusos.

     
                div(data-aos="zoom-out-down" data-aos-duration="1500", data-aos-delay="800").ventaja
                    | #[strong Sin exámenes] de admisión.


                div(data-aos="zoom-out-down" data-aos-duration="1500", data-aos-delay="900").ventaja
                    | #[strong Te asignamos un equipo de profesionales] enfocados en tu caso, ya sea para gestionar tus documentos o para apoyarte en tus estudios.
