section.section#servicios
    .bgfix
    .has-text-centered.is-size-2.py-5.mb-5 Servicios
    .columns.is-align-items-center
        .column.is-6
            div.card(data-aos="flip-left" data-aos-duration="1500" data-aos-delay="500")
                .card-header-title.is-size-3.has-text-weight-bold TITULACIÓN Y CÉDULA
                .card-content.is-size-5 Te ofrecemos la gestión para que los obtengas de forma rápida. #[strong ¡Garantizado!]
        .column.is-6
            div(data-aos="fade" data-aos-duration="1500" data-aos-delay="1500").has-text-centered
                b-icon(icon="card-account-details-star" size="is-large")
                b-icon(icon="file-check-outline" size="is-large")
    .columns.is-align-items-center
        .column.is-6
            .mt-5.card(data-aos="flip-left" data-aos-duration="1500" data-aos-delay="500")
                .card-header-title.is-size-3.has-text-weight-bold CONCLUÍR Y TITULARME
                .card-content.is-size-5 Te ofrecemos el apoyo y seguimiento para que culmines tus estudios profesionales en nuestras universidades vinculadas, con real #[strong flexibilidad], en #[strong tiempo récord] y garantizando tu Título y Cédula profesional.
        .column.is-6
            div(data-aos="fade" data-aos-duration="1500" data-aos-delay="1500").has-text-centered
                b-icon(icon="certificate" size="is-large")
                b-icon(icon="file-check-outline" size="is-large")
    .columns.is-align-items-center
        .column.is-6
            .mt-5.card(data-aos="flip-left" data-aos-duration="1500" data-aos-delay="500")
                .card-header-title.is-size-3.has-text-weight-bold INICIAR Y TITULARME
                .card-content.is-size-5 Te ofrecemos la gestión completa para que inicies tus estudios profesionales en nuestras universidades vinculadas, con real flexibilidad, en tiempo récord y garantizando tu #[strong Título y Cédula profesional].
        .column.is-6
            div(data-aos="fade" data-aos-duration="1500" data-aos-delay="1500").has-text-centered
                b-icon(icon="ray-start-arrow" size="is-large")
                b-icon(icon="file-check-outline" size="is-large")
